.rbc-event {
  background-color: #0099ff;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  white-space: normal;
  overflow: break-word;
  text-overflow: visible;
}

.rbc-agenda-content .rbc-agenda-event-cell {
  white-space: normal;
  word-wrap: break-word;
}

.rbc-agenda-content {
  font-size: 14px;
  line-height: 1.5;
}

.rbc-toolbar {
  background-color: #f8f9fa;
  padding: 10px;
}

.rbc-header {
  font-weight: bold;
  color: #333;
}

.rbc-timeslot-group {
  min-height: 100px;
}

.calendar-container-style {
  height: 80vh;
  margin: 20px;
}

.week-style {
  position: absolute;
  right: 2%;
  width: 70%;
  height: 80vh;
  overflow: visible;
}

.agenda-style {
  position: absolute;
  left: 2%;
  width: 26%;
  height: 80vh;
  overflow-y: auto;
}

.button-style {
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #192041;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
