.rbc-event {
  background-color: #0099ff;
  color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
}

.rbc-toolbar {
  background-color: #f8f9fa;
  padding: 10px;
}

.rbc-header {
  font-weight: bold;
  color: #333;
}

.rbc-timeslot-group {
  min-height: 80px;
}

.calendar-container-style {
  height: 80vh;
  margin: 20px;
}

.week-style {
  position: absolute;
  right: 2%;
  width: 82%;
  height: 80vh;
}

.agenda-style {
  position: absolute;
  left: 2%;
  width: 13%;
  height: 80vh;
}

.button-style {
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #192041;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}