* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.site-title {
    font-size: 2rem;
}

.burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transform-origin: 1px;
    transition: all 0.3s linear;
}

.btn {
    background-color: #192041;
    width: 120px;
    min-height: 50px;
    border: none;
}

.btn:hover {
    background-color: #272f54;
}